---
import BtnPrimary from '../components/BtnPrimary.astro'
---

<section>
    <h3 class="text-4xl text-gray-500">
        Beneficios para tu local:
    </h3>

    <div class="grid grid-cols-4 mt-12 gap-16 ">
        <div>
            <h3 class="font-bold h-10">
                Control total del catálogo musical:
            </h3>
            <p class="mt-8 leading-relaxed tracking-widest text-sm text-gray-500">                
                A través de nuestro sistema, podrás gestionar la lista de canciones que estará disponible para tus clientes. Agrega o quita canciones de forma rápida y sencilla con nuestro mantenedor.
            </p>
        </div>
        <div>
            <h3 class="font-bold h-10">
                Genera ingresos adicionales:  
            </h3>
            <p class="mt-8  text-sm text-gray-500 leading-relaxed tracking-widest">     
               Cada vez que un cliente selecciona una canción usando Rockolapp, tú recibes una parte de la transacción. Podrás ver las ganancias en tiempo real y acceder a informes detallados.
            </p>
        </div>
        <div>
            <h3 class="font-bold h-10">
                Resúmenes diarios:  
            </h3>
            <p class="mt-8 leading-relaxed tracking-widest text-sm text-gray-500">     
               Consulta un resumen completo del día, donde verás la cantidad de canciones seleccionadas, los ingresos generados, y el comportamiento de tus clientes.

            </p>
        </div>
        <div>
            <h3 class="font-bold h-10">
                Fácil integración: 
            </h3>
            <p class="mt-8 leading-relaxed tracking-widest text-sm text-gray-500">     
               Solo necesitas ponerte en contacto con nosotros, y te ayudaremos a integrar Rockolapp en tu local. Puedes elegir entre nuestros packs de canciones preconfigurados o personalizar la lista según el ambiente de tu negocio.
            </p>
        </div>
    </div>
    <div class="flex justify-center mt-8">
        <BtnPrimary display="Unete ahora" to_id="join-now" />
    </div>
</section>
