<footer class=" text-white py-8 mt-48">    
    <!-- Copyright -->
    <div class="mt-8 text-center text-sm text-gray-500">
      &copy; 2024 Rockolapp. Todos los derechos reservados.
    </div>
  </footer>
  