---
import BtnPrimary from '../components/BtnPrimary.astro'
---

<section class="mt-48">
    <div class="flex">
        <div>
            <h2 class="text-5xl font-bold text-gray-600">
                <span class="text-primary uppercase">
                    Rockolapp
                </span>
                para Locales:
            </h2>
            <h3 class="text-4xl text-gray-500">Personaliza la Música y Genera Ingresos</h3>
            <p class="mt-12 leading-relaxed tracking-widest text-sm text-gray-500 w-96">     
                Rockolapp ofrece a los locales como bares, restaurantes y pubs una solución interactiva para que sus clientes seleccionen canciones de manera sencilla. Los locales pueden elegir entre nuestros packs de canciones prediseñados, o bien seleccionar las canciones que prefieran según el estilo de su clientela.
            </p>
            <div class="mt-12">
                <BtnPrimary display="Unete ahora" to_id="join-now" />
            </div>
        </div>
    </div>   
</section>
