---
import HeroLogo from "../components/HeroLogo.astro"
import BtnPrimary from "../components/BtnPrimary.astro"
import BtnSecondary from "../components/BtnSecondary.astro"


---

<section>
    <div class="flex justify-between items-center px-2 text-sm text-gray-500">
        <span>
            <HeroLogo class="w-20 h-20" />
        </span>
        <span>
            <ul class="flex gap-4">
                <li class="cursor-pointer ">Para locales</li>
                <li class="cursor-pointer ">
                    <a href="#for_users_section">Para usuarios</a>
                </li>
                <li class="cursor-pointer ">Como funciona</li>
                <li class="cursor-pointer ">Precios</li>
            </ul>
        </span>
        <span class="flex gap-4">
            <BtnPrimary display="Unete ahora (Locales)" to_id="join-now" />
            <BtnSecondary display="Descargar App (usuarios)" to_id="download-app" />
        </span>
    </div>
</section>
