<section class="mt-48">
    <div class="flex gap-8 items-center justify-between">
        <div>
            <img src="`https://raw.githubusercontent.com/santiagoinostroza/rockolapp/main/imagen_hero2.webp" alt="Hero Image" class="w-[300px] h-[240px]"/>
        </div>
        <div class="w-full">
            <h2 class="text-5xl font-bold text-gray-600">¿Qué es <br><span class="text-primary uppercase">Rockolapp</span>?</h2>
            <p class="w-4/5 mt-4 text-sm text-gray-500 leading-relaxed tracking-widest">
                Rockolapp es una aplicación diseñada para locales como bares, restaurantes o pubs, que permite a sus clientes seleccionar canciones para que suenen en el lugar de manera fácil y divertida. Cada local que se adhiere al servicio puede elegir entre un abanico de canciones previamente seleccionadas o de los packs musicales que ofrecemos, adaptados a distintos estilos y públicos.
            </p>
        </div>
    </div>
</section>